# editors #
.vscode
*.vscode/
.idea/
/venv
.saved-info.txt

# Data and shiny example dirctories
/web-dashboards/shiny-server/apps/shiny-examples/*
/web-dashboards/shiny-server/assets/data/*

# Credentials files #
/mastodon-toot-bot-hive/credentials/*

# Specific Data Files #
*/data.csv
*/data-not-podping_firehose.csv
*/data-unauthorized.csv
*/data-podping-url.csv
*/data-podping.csv

# The crontab log #
*crontab.log

### R  ###
*.Rhistory
*.Rproj.user/
web-dashboards/shiny-server/.Rproj.user/

# History files
/hive-watcher/examples/write-to-csv-analyze-with-R/.Rhistory
# Session Data files
/hive-watcher/examples/write-to-csv-analyze-with-R/.RData
# User-specific files
/hive-watcher/examples/write-to-csv-analyze-with-R/.Ruserdata
