# editors #
###########
.vscode
.idea/
/venv
.saved-info.txt

# Credentials files #
#####################
/mastodon-toot-bot-hive/credentials/*

# Specific Data Files #
#######################
*/data.csv
*/data-not-podping_firehose.csv
*/data-unauthorized.csv


### R ###
# History files
/hive-watcher/examples/write-to-csv-analyze-with-R/.Rhistory
# Session Data files
/hive-watcher/examples/write-to-csv-analyze-with-R/.RData
# User-specific files
/hive-watcher/examples/write-to-csv-analyze-with-R/.Ruserdata
