<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="../../../assets/css/main.css"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
  <link rel="manifest" href="/site.webmanifest?v=1">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=1">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    //function to fix height of iframe!
    var calcHeight = function() {
      $('#preview-frame').height($(window).height());
    }
     
    $(document).ready(function() {
      calcHeight();
    }); 

    $(window).resize(function() {
      (calcHeight());
    }).load(function() {
      (calcHeight());
    });
  </script>
</head>

<body>
  <div class="topnav">
    <a class="active" href="https://shiny.podping-stats.com/">Stats</a>
    <a href="https://www.podping-stats.com/index.html">Toot Bot Reports</a>
    <a href="https://www.podping-stats.com/contact.html">Contact</a>
    <a href="https://www.podping-stats.com/about.html">About</a>
    <a href="https://shiny.podping-stats.com/apps/">Apps by Authors</a>
    <a href="../">Up</a>
  </div>
  <iframe id="preview-frame" src="../../apps/jeremy_gerdes/app_components/sub_InstalledPackages/" name="preview-frame" frameborder="0" noresize="noresize" style="height: 902px;">
  </iframe>
</body>
</html>